.customer-details-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .details-section {
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 50%;
  }
  
  .details-section p {
    margin-bottom: 10px;
  }
  
  .details-section strong {
    font-weight: bold;
  }
  