.dispenser-container {
    background-color: #f0f0f0; /* Light gray background */
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .dispenser-container .hotel-logo {
    width: 200px; /* Adjust size as needed */
    margin-bottom: 30px;
  }
  
  .dispenser-container .checkmark {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px;
  }
  
  .dispenser-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .dispenser-container p {
    font-size: 1.2em;
  }
  