.check-in-method-container {
    background-color: #f0f0f0; 
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kalam', sans-serif; /* Apply Kalam, fallback to sans-serif */
    color: #000;
  }
  
  .check-in-method-container .hotel-logo {
      width: 200px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      margin-bottom: 20px; /* Add some space below the logo */
    }
  
  .check-in-method-container h2 {
    font-size: 2em; /* Adjust size as needed */
    margin-bottom: 10px;
  }

  .check-in-method-container p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
.check-in-method-container .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .check-in-method-container .check-in-button {
    background-color: transparent; 
    color: #000; /* Black text */
    padding: 12px 24px;
    border: 3px solid #000; /* Thicker border */
    border-radius: 0px; /* Square corners */
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1em; /* Adjust size as needed */
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Kalam', sans-serif; /* Apply Kalam to the button */
    margin-bottom: 20px; /* Add spacing between buttons */
    width: 300px; /* Adjust the width as needed */
    min-width: 300px; /* Ensures a minimum width */
    max-width: 80%; /* Optional: responsive width */
  }
  
  .check-in-method-container .check-in-button:hover {
    background-color: #000; /* Black background on hover */
    color: #fff; /* White text on hover */
  }
  
  .check-in-method-container .kiosk-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    max-width: 90%;
  }
  
  .check-in-method-container .kiosk-footer p {
    font-size: 0.8em;
    margin-bottom: 5px;
    font-family: 'Kalam', sans-serif; /* Apply Kalam to the kiosk info */
  }
  
  .check-in-method-container .kiosk-footer img {
    width: 50px; /* Adjust size as needed */
    height: 50px;
  }