#qr-reader {
    margin: auto;
    width: 300px;
    height: 300px;
    }
    
    .scanner .check-in-method-container {
    text-align: center;
    }
    
    .scanner .back-button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #2359b1;
    color: white;
    text-decoration: none;
    }
    
    .scanner .hotel-logo {
    width: 150px;
    }